@using Microsoft.AspNet.Identity
@model IEnumerable<CarDealer.Models.CarType>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>
@{
    var action = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString().CheckViewAct(User.Identity.GetUserId());


    if (action != null && !string.IsNullOrEmpty(User.Identity.GetUserId()))
    {
        if (action.Contains("Create"))
        {
            <p>
                @Html.ActionLink("Create New", "Create")
            </p>
        }
    }
}
    <table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.ToParent.Name)*@ Parent Name
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MetaDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Metatitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MetaKeywords)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Waranty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SeoTitle)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ToParent.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MetaDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Metatitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MetaKeywords)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.Waranty)*@@{ string wrt = item.Waranty.Traslate();}@(wrt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SeoTitle)
        </td>
        <td>
            @{
                // var action = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString().CheckViewAct(User.Identity.GetUserId());


                if (action != null && !string.IsNullOrEmpty(User.Identity.GetUserId()))
                {
                    if (action.Contains("Edit"))
                    {

                        <span>@Html.ActionLink("Edit", "Edit", new { id = item.CarTypeId})</span>
                    }
                    if (action.Contains("Details"))
                    { <span>
                          @Html.ActionLink("Details", "Details", new { id = item.CarTypeId })</span> }

                    if (action.Contains("Delete"))
                    {<span>
                         @Html.ActionLink("Delete", "Delete", new { id = item.CarTypeId })</span>}
                }





            }
        </td>
    </tr>
}

</table>
