@model CarDealer.Models.CarSold

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CarSold</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ToCar.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ToCar.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AgreedPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgreedPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Datesold)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Datesold)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentMethod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentMethod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentEndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentEndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActurePaymentAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActurePaymentAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OtherDetail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OtherDetail)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CarSoldId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
