@using Microsoft.AspNet.Identity
@model IEnumerable<CarDealer.Models.New>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

@{ Session["path"] = HttpContext.Current.Request.Url.AbsolutePath; }
@{
    var action = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString().CheckViewAct(User.Identity.GetUserId());


    if (action != null && !string.IsNullOrEmpty(User.Identity.GetUserId()))
    {
        if (action.Contains("Create"))
        {
            <p>
                @Html.ActionLink("Create New", "Create")
            </p>
        }
    }
}
    <table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TopHot)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ViewCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.Topic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Waranty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th></th>
    </tr>
    
        @foreach (var item in Model) {

    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Image)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TopHot)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ViewCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Topic)
        </td>
      
        <td>
            @{ string Wrt = item.Waranty.Traslate();}
            @(Wrt)
        </td>

        <td>
            @Html.Raw(item.Content)
        </td>
        <td>
            @{
                // var action = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString().CheckViewAct(User.Identity.GetUserId());


                if (action != null && !string.IsNullOrEmpty(User.Identity.GetUserId()))
                {
                    if (action.Contains("Edit"))
                    {

                        <span>@Html.ActionLink("Edit", "Edit", new { id = item.NewId })</span>
                    }
                    if (action.Contains("Details"))
                    { <span>
                          @Html.ActionLink("Details", "Details", new { id = item.NewId })</span> }

                    if (action.Contains("Delete"))
                    {<span>
                         @Html.ActionLink("Delete", "Delete", new { id = item.NewId })</span>}
                }





            }
        </td>
    </tr>
            
        }
    
    
</table>


