@model IEnumerable< CarDealer.Areas.Client.Models.ShortCarViewModel>
@using PagedList
@using PagedList.Mvc
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Client/Views/Shared/_LayoutClientHome.cshtml";
}
@section css{
    <style>
        .active {
            background: #fa2837 none repeat scroll 0 0 !important;
            fill: #fa2837 !important;
            
        }
            .active a {
                color: #fff !important;
            }
</style>

    }
<!--Page Header-->
<section class="page-header listing_page">
    <div class="container">
        <div class="page-header_wrap">
            <div class="page-heading">
                <h1>Car Listing</h1>
            </div>
            <ul class="coustom-breadcrumb">
                <li><a href="#">Home</a></li>
                <li>Car Listing</li>
            </ul>
        </div>
    </div>
    <!-- Dark Overlay-->
    <div class="dark-overlay"></div>
</section>
<!-- /Page Header--> 
<!-- Listing--> 
<section class="listing-page">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-md-push-3" id="CarList">
                <div class="result-sorting-wrapper">
                    <div class="sorting-count">
                        <p>@ViewBag.page - @if (ViewBag.Number % 5 > 0)
                        { <span>@(ViewBag.Number / 5 + 1)</span>}
                        else
                        {<span>@(ViewBag.Number / 5 )</span>} <span>of @ViewBag.Number Listings</span></p>
                    </div>
                    <div class="result-sorting-by">
                        <p>Sort by:</p>
                        <form action="http://themes.webmasterdriver.net/carforyou/demo/listing-classic.html#" method="post">
                            <div class="form-group select sorting-select">
                                <select class="form-control ">
                                    <option>Price (low to high)</option>
                                    <option>$100 to $500</option>
                                    <option>$500 to $1000</option>
                                    <option>$1000 to $1500</option>
                                    <option>$1500 to $2000</option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
                
                    @foreach (var car in Model)
                    {
                        <div class="product-listing-m gray-bg">
                            <div class="product-listing-img">
                                <a href="@Url.Action("Index","CarDetail",new { Id=car.id})"><img src="@(car.ThumpImage)car.jpg" class="img-responsive" alt="Image"> </a>
                                <div class="label_icon">New</div>
                            </div>
                            <div class="product-listing-content">
                                <h5><a href="@Url.Action("Index","CarDetail",new { Id=car.id})">@car.Name </a></h5>
                                <p class="list-price">@Html.DisplayFor(modelcar => car.AskingPrice)</p>
                                <ul>
                                    <li><i class="fa fa-road" aria-hidden="true"></i>@car.CurentMile km</li>
                                    <li><i class="fa fa-tachometer" aria-hidden="true"></i>30.000 miles</li>

                                    <li><i class="fa fa-calendar" aria-hidden="true"></i>@car.ModelName model</li>

                                </ul>
                                <a href="#" class="btn">View Details <span class="angle_arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></span></a>
                                <div class="car-location"><span><i class="fa fa-map-marker" aria-hidden="true"></i> Colorado, USA</span></div>
                            </div>
                        </div>
                    }

                    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page, ddlModel = Request["ddlModel"], ddlManufacture = Request["ddlManufacture"] }), new PagedListRenderOptions() { ContainerDivClasses = new List<string> { "pagination" }, UlElementClasses = new List<string> { "" }, })
               
               
            </div>

            <!--Side-Bar-->
            <aside class="col-md-3 col-md-pull-9">
               @{Html.RenderAction("MenuSearchPartial");}

              
               @{ Html.RenderAction("NewCarPartial");}
            </aside>
            <!--/Side-Bar-->
        </div>
    </div>
</section>
<!-- /Listing--> 
@section script{
    
    <script>
        var ajaxrq = function (o) {

            $.ajax({
                type: "Get",
                url: "/Client/Home/UpdateModel?BrandName=" + o,
                contentType: "application/json; charset=utf-8",
                success: function (result) {
                    $('#model').html(result);
                },
                error: errorFunc
            });

            function successFunc(result) {
                $('#model').html(result);

            }

            function errorFunc() {
                alert('error');
            }
        }
    </script>
    
    }