@model CarDealer.Areas.Client.Models.ProfileViewModel



@using (Ajax.BeginForm("SaveProfile", null, new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "result1" }, new { id= "result1" }))
{

    <div class="form-group">
        @Html.LabelFor(model => model.FullName, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control white_bg" } })
        @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
    </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control white_bg" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Phonenumber, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Phonenumber, new { htmlAttributes = new { @class = "form-control white_bg" } })
                            @Html.ValidationMessageFor(model => model.Phonenumber, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control white_bg" } })
                            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn">Save Changes <span class="angle_arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></span></button>
                        </div><span id="result"></span>@Html.ValidationSummary(true, "", new { @class = "text-danger" })
}
